<h1>Carrito de Compras</h1>

{{#each products}}
  <div>
    <p>Producto: {{this.product.title}}</p>
    <p>Precio: ${{this.product.price}} </p>
    <p>Descripcion: {{this.product.description}}</p>
    <p>Cantidad: {{this.quantity}}</p>
    <br></br>

  </div>
{{/each}}