<h1>Mi perfil</h1>
<div class="profile-container">
    <p>Bienvenido! {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <a href="/api/sessions/logout">Logout</a>
</div>